.inputs{
    padding: 5px;
    border-radius: 6px;
    margin: 10px;
    width: 100px;
}
.resetBtn{
    padding: 5px;
    border-radius: 6px;
    margin: 5px; 
    width: 90px;
    height: 40px;
    font-weight: 600;
    font-size: 27px;
    background-color: rgb(138, 200, 241);
    border:  rgb(138, 200, 241);
}
.subBtn{
    padding: 5px;
    border-radius: 6px;
    margin: 5px; 
    width: 70px;
    height: 40px;
    font-weight: 600;
    font-size: 27px;
    background-color: rgb(138, 200, 241);
    border:  rgb(138, 200, 241);
}
.title{
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(51, 210, 231), rgb(223, 52, 186));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.addBtn{
    padding: 5px;
    border-radius: 6px;
    margin: 5px; 
    width: 70px;
    height: 40px;
    font-weight: 600;
    font-size: 27px;
    background-color: rgb(138, 200, 241);
    border:  rgb(138, 200, 241);
}
.count{
    padding: 5px;
    border-radius: 6px;
    margin: 5px; 
    height: 100px;
    font-size: 30px;

}
.app{
    padding: 70px 0;
    text-align: center;
}